---
context: {
chatList: {
className: "chatlist" ,
items: [
{
avatar: {
className: "avatar avatar_size_m avatar_shape_round",
imgClassName: "avatar__img",
src: "./assets/images/avatar2.jpeg",
alt: "avatar",
isOnline: true,
},
name: "Glassy",
message: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
magna aliqua",
time: "18:26",
},
{
avatar: {
className: "avatar avatar_size_m avatar_shape_round",
imgClassName: "avatar__img",
src: "./assets/images/avatar1.jpeg",
alt: "avatar",
isOnline: false,
},
name: "Froggy",
message: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat",
time: "18:27",
},
{
avatar: {
className: "avatar avatar_size_m avatar_shape_round",
imgClassName: "avatar__img",
src: "./assets/images/avatar2.jpeg",
alt: "avatar",
isOnline: false,
},
name: "Smiley",
message: "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur",
time: "18:28",
},
{
avatar: {
className: "avatar avatar_size_m avatar_shape_round",
imgClassName: "avatar__img",
src: "./assets/images/avatar1.jpeg",
alt: "avatar",
isOnline: true,
},
name: "Kitty",
message: "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
laborum",
time: "18:29",
}
]
},

chat: {
chatItems: [
{
message:
{isOutcoming: false,
messageContent: "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
laborum",
sender: "Froggy",
time: "18:28",
status: {isRead: true},
},
},
{
message:
{isOutcoming: true,
messageContent: "Pellentesque consequat ligula ac pretium dignissim",
sender: "Froggy",
time: "18:29",
status: {isRead: true},
},
},
{
message:
{isOutcoming: true,
messageContent: "Proin elementum est quis velit volutpat, at sollicitudin sem cursus. In feugiat elit quis tempus
maximus",
sender: "Glassy",
time: "18:30",
status: {isSent: true},
},
},
{
message:
{isOutcoming: true,
messageContent: "Donec mattis velit nisi. Ut fringilla lectus vitae ante congue, id accumsan lectus maximus. Maecenas
laoreet elit non condimentum dapibus. Curabitur enim ipsum, lobortis sit amet erat nec, dapibus cursus nisl",
sender: "Glassy",
time: "18:31",
status: {isWaiting: true},
},
},
{
message:
{isOutcoming: true,
messageContent: "Nam fermentum bibendum nibh non suscipit. Nulla tristique orci a posuere pretium. Nulla mollis sit amet
eros vel auctor. Sed hendrerit sodales lorem id efficitur. Morbi nisi lorem, convallis quis odio ac, mollis elementum
libero. Sed euismod tincidunt magna, quis porttitor ex convallis at. Curabitur vel malesuada odio. ",
sender: "Glassy",
time: "18:32",
status: {isError: true},
},
},
],
}
}
---

<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="app">
    <div class="main">

      <div class="column chatapp__column chatlist__column">

        <div class="header chatapp__header header_gray">
          {{>burgerButton/burgerButton }}
          {{>input/input labelClassName="input" inputClassName="input__control chatInput__control
          input__control_with-adjustable-height input__control_border-color_blue"
          type="search" placeholder="Найти чат"}}
          {{>addButton/addButton}}
        </div>

        <aside class="listcontainer">
          {{>chatList/chatList context.chatList}}

          <div style="height: 50px; text-align:center">
            <a href="./src/pages/forms/loginForm.hbs">Логин</a>
            <a href="./src/pages/forms/registerForm.hbs">Регистрация</a>
            <a href="./src/pages/forms/profileForm.hbs">Профиль</a>
            <a href="./src/pages/errorPage404.hbs">404</a>
            <a href="./src/pages/errorPage5xx.hbs">5xx</a>
          </div>
        </aside>
      </div>

      <div class="column chatapp__column chat__column">

        <div class="header chatapp__header header_gray">
          <div class="header__avatar">
            {{>avatar/avatar className="avatar avatar_size_m avatar_shape_round" imgClassName="avatar__img"
            src='./assets/images/avatar1.jpeg' alt='avatar'}}
          </div>
          {{>input/input labelClassName="input " inputClassName="input__control
          input__control_with-adjustable-height
          input__control_border-color_blue" type="search" placeholder="Найти в сообщениях"}}
          {{>addButton/addButton}}
        </div>

        <div class="listcontainer chat__listcontainer  chat__listcontainer_max-width-1024px">
          {{>chat/chat context.chat }}
          {{>inputSeparator/inputSeparator className="inputseparator"}}
          {{>chatInput/chatInput className="chatInput chatInput_margin_10x20px"
          labelClassName="input chatInput__input" inputClassName="input__control chatInput__inputcontrol
          input__control_with-adjustable-height
          input__control_border-color_blue" sendbuttonClassName="sednbutton chatinput__sendbutton_size_m
          chatinput__sendbutton_margin-left_10px chatinput__sendbutton_color_lightblue"
          placeholder="Cообщение..." type="search" }}

        </div>

      </div>

    </div>
  </div>
</body>