---
chatList: {
className: "chatlist" ,
items: [
{
avatar: {
className: "avatar avatar_size_m avatar_shape_round",
imgClassName: "avatar__img",
src: "./assets/images/avatar2.jpeg",
alt: "avatar",
isOnline: false,
},
name: "Glassy",
message: "Nunc consectetur sem in enim accumsan mollis. Aenean elit",
time: "18:26",

},
{
avatar: {
className: "avatar avatar_size_m avatar_shape_round",
imgClassName: "avatar__img",
src: "./assets/images/avatar1.jpeg",
alt: "avatar",
isOnline: true,
},
name: "Froggy",
message: "Nunc consectetur sem in enim accumsan mollis. Aenean elit",
time: "18:27",
}
]
}
---

<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="app">
    <div class="main">

      <div class="column chatapp__column chatlist__column">

        <div class="header chatapp__header header_gray">
          {{>burgerButton/burgerButton }}
          {{>input/input labelClassName="input" inputClassName="input__control chatInput__control
          input__control_with-adjustable-height input__control_border-color_blue"
          type="search" placeholder="Найти чат"}}
          {{>addButton/addButton}}
        </div>

        <aside class="listcontainer">
          {{>chatList/chatList chatList}}
          <div>
            <a href="./src/pages/forms/loginForm.hbs">Логин</a>
            <a href="./src/pages/forms/registerForm.hbs">Регистрация</a>
            <a href="./src/pages/forms/profileForm.hbs">Профиль</a>
            <a href="./src/pages/errorPage404.hbs">404</a>
            <a href="./src/pages/errorPage5xx.hbs">5xx</a>
          </div>
        </aside>

      </div>

      <div class="column chatapp__column chat__column">

        <div class="header chatapp__header header_gray">
          <div class="header__avatar">
            {{>avatar/avatar className="avatar avatar_size_m avatar_shape_round" imgClassName="avatar__img"
            src='./assets/images/avatar1.jpeg' alt='avatar'}}
          </div>
          {{>input/input labelClassName="input " inputClassName="input__control
          input__control_with-adjustable-height
          input__control_border-color_blue" type="search" placeholder="Найти в сообщениях"}}
          {{>addButton/addButton}}
        </div>

        <div class="listcontainer chat__listcontainer  chat__listcontainer_max-width-1024px">
          <main class="chat">
            {{!-- {{>marks/checkMark}}{{>marks/doubleCheckMark}}{{>marks/waitMark}}{{>marks/errorMark}} --}}
          </main>
          {{>inputSeparator/inputSeparator className="inputseparator"}}
          {{>chatInput/chatInput className="chatInput chatInput_margin_10x20px"
          labelClassName="input chatInput__input" inputClassName="input__control chatInput__inputcontrol
          input__control_with-adjustable-height
          input__control_border-color_blue" sendButtonClassName="sednbutton sendbutton_size_m
          sendbutton_margin-left_10px sendbutton_color_lightblue"
          placeholder="Cообщение..." type="search" }}

        </div>

      </div>

    </div>
  </div>
</body>