<div class="{{className}}">
    {{>input/input class="{{labelClassName}}" inputClassName=inputClassName name=name type=type
    placeholder=placeholder}}
    {{>sendButton/sendButton sendButtonClassName=sendButtonClassName }}
</div>