<div class="errorpage errorpage_color_gray">
    <div
        class="errorpage__container errorpage__container_centered errorpage__container_round errorpage__container_color_white">
        {{>svgicon/svgicon icon className="errorpage__icon"}}
        {{>errorPageCaption/errorPageCaption caption }}
        {{>formLink/formLink link}}
    </div>
</div>