<div class="chatlistitem chatlistitem_border-bottom">

    <div class="chatlistitem__avatar">{{>avatar/avatar avatar}}</div>

    <div class="chatlistitem__messagecontainer chatlistitem_font-size_14">

        <div class="chatlistitem__message">
            <div class="chatlistitem__name_bold chatlistitem__name_margin_5px">{{name}}</div>
            <div class="chatlistitem__text chatlistitem__text_color_darkgray">{{message}}</div>
        </div>

        <div class="chatlistitem__timecontainer">
            <div class="chatlistitem__time">{{time}}</div>
        </div>
    </div>

</div>