.input {
  text-align: center;
}

.input_wide {
  width: 100%;
  margin: 0 10px;
}

.input__control {
  outline: none;
  width: 100%;
}

.input__control_with-adjustable-height {
  height: 23px;
}

.input__control_border-color_blue {
  border: 1px solid var(--lightgray);
  border-radius: 7px;
}

.input__control_border-color_blue:focus {
  border: 1px solid var(--lightblue);
}

.input__error {
  position: absolute;
  visibility: hidden;
  left: 0;
  top: 0;
}

.input__error_red {
  color: red;
}

/* TODO разобраться с размером шрифта  */
.input__error_font-size_15 {
  font-size: 15;
}

.input__control:required:not(:focus):not(:placeholder-shown):invalid
  ~ .input__error {
  visibility: visible;
  transform: translate(2px, 1.25em);
  transition: all 0.3s ease-out;
}

.input__control:required:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid var(--red);
}

.input__control:required:not(:placeholder-shown):valid {
  border: 1px solid var(--lightgreen);
}

.input__hint {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

.input__control:required:not(:placeholder-shown) ~ .input__hint {
  visibility: visible;
  transform: translate(2px, -1.25em);
  transition: all 0.1s ease-out;
}
